<form class="max-w-sm mx-auto" [formGroup]="linkForm" (ngSubmit)="onSubmit()">

  <div class="mb-5">
    <form-field [hasError]="hasError('link')">
      <label for="link">Link</label>
      <input id="link" type="text" formControlName="link" autofocus>
      <p>{{ getErrorMessage('link') }}</p>
    </form-field>
  </div>

  <div class="mb-5">
    <form-field [hasError]="hasError('name')">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name">
      <p>{{ getErrorMessage('name') }}</p>
    </form-field>
  </div>

  <button type="submit"
          [disabled]="linkForm.invalid"
          [ngClass]="linkForm.valid
          ? 'bg-blue-700 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700'
          : 'bg-gray-700 hover:bg-gray-800 dark:bg-gray-600 dark:hover:bg-gray-700 cursor-not-allowed'"
          class="text-white focus:ring-4 focus:outline-none
          focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5
          text-center dark:focus:ring-blue-800">Add
  </button>

</form>
